venv/

# Python
*.npy
*.pkl
*.pyc

# Misc
ec3/
examples/strange_fruit_triplet/strangefruit30/

# Data files
*.json
*.csv

# Mac
.DS_Store

# Maven
log/
target/

# Emacs
*~

# Pickle files
*.pkl

# nohup
nohup.out

# pickle files
*.pkl

aws_setup.sh

# Log files
*.log

# EC2 key files
*.pem

# backup files
*.bak

#floo
.floo
.flooignore
