<style>
  .images-wrapper {
    display: flex;
    justify-content: center;
  }

  .images .query {
    height: 50%;
  }


  .answers {
    padding-top: 5em;
  }
</style>

{#
{% if query.context_type %}
<div class="row" id="center">
  <div class="col-xs-12">
    {% if query.initial_query %}
        <textarea>
          "came into inital query"
        </textarea>
        {% for target in query.targets %}
        <textarea>
          "came into loop"
        </textarea>
        <div class="option"
         id="{{target.index}}"
         onclick="submit_initial({{target.index}})">
          <img src="{{target.target.primary_description}}" />
            <p><b>{{query.target_instructions[target.index]}}</b></p>
        </div>
        {% endfor %}
     {% else %}
          {% if query.context_type == "text" %}
          <div style="display:table;height:100%;width:100%;">
            <div class="center-block text">
              {{ query.context }}
            </div>
          </div>
          {% elif query.context_type == "image" or query.context_type == "img" %}
          <div class="image_container">
            <img src='{{ query.context }}'> </img>
          </div>
          {% endif %}
      {% endif %}
  </div>
</div>
{% endif %}
<!-- query -->
<div class="row" id="center_text">
  <div class="col-xs-12">
    {% if query.initial_query  %}
        {{query.instructions}}
        <br />
        {% for target in query.targets %}
        <div class="option"
         id="{{target.index}}"
         onclick="submit_initial({{target.index}})">
          <img src="{{target.target.primary_description}}" />
            <p><b>{{target.instructions}}</b></p>
        </div>
        {% endfor %}
    {% else %}
        {% if query.targets.target.primary_type == "image" or query.targets.target.primary_type == "img" %}
        <div class="image_container">
          <img class="image" src="{{ query.targets[0].target.primary_description }}"> </img>
          <p></p>
        </div>
        <div id="init_query" style="float:right;">
          Starting image: <br /><img width="50%" height="50%" class="image" src="{{ query.main_target.primary_description }}"> </img>
        </div>
        {% elif query.targets.target.primary_type == "text"%}
        {% endif %}
    {% endif %}
  </div>
</div>
#}

<div class="images-wrapper">
  <div class="images">
    <img class="query" src="{{ query.targets[0].primary_description }}">
    <img class="context" src="{{ query.init_target.primary_description }}">
  </div>
</div>

{#
<!-- labels -->
<div id="query" class="row">
  {% if query.labels %}
  {{query.instructions}}
  <br />
  {% for label in query.labels %}
  <div class="option active"
	  id="option{{loop.index}}"
	  onclick="submit({{ label.reward }}, {{loop.index}})">
    <div class="text_container">
      <div class="text">{{ label.label }}</div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
#}

<div class="answers row">
  <div class="col-md-6">
    <div class="btn btn-default btn-block" onclick="submit(1)">Yes</div>
  </div>
  <div class="col-md-6">
    <div class="col btn btn-default btn-block" onclick="submit(-1)">No</div>
  </div>
</div>


<script>
  // var submit = function(reward, index) {
  //   if(!clickable) return;
  //   clickable = false;
  //   var len=20000;
  //   $(this).delay(len).queue(function(next){
  //       clickable = true;
  //       next();
  //    });
  //   {% for label in query.labels %}
  //     $('#option{{loop.index}}').removeClass("active").addClass("inactive").delay(len).queue(function(next){
  //       $(this).removeClass("inactive").addClass("active");
  //       next();
  //     });` ``
  //   {% endfor %}
  //     $("#option"+index).css({'outline': '2px solid #FF0000'});
  //     next_widget.processAnswer({"initial_query": false, "answer": {"target_reward": reward}});

  // }

  function submit(reward) {
    next_widget.processAnswer({"target_rewards": [reward]});
  }
</script>
